<link rel="stylesheet" href="app.css">
<div class="autocomplete-search-box">
  <input type="text" class="search-box" placeholder="Enter your favorite EDM producer" />
  <ul class="search-result"></ul>
</div>

